# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/

# Logs and cache
*.log
*.sqlite3
*.db
*.cache/
*.pytest_cache/

# Build / Packaging
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

bin/
lib/
include/
pyvenv.cfg
model/
audit_logs/